 nav {
     display: flex;
     align-items: center;
     width: 100vw;
     height: 4em;
     /* background-color: black; */
     
     
     
 }

 .BurgerMenu_container{
     display: flex;
     flex-direction: column
         
}
i{
    background-color: gray;
    width: 32px;
    height: 4px;
    margin: 4px;
} 

.open:nth-child(1){

}


.open:nth-child(1){
    
}


.open:nth-child(1){
    
}

.close:nth-child(1){
    
}

.close:nth-child(1){
    
}

.close:nth-child(1){
    
}