body {
    background-image: url(./assets/black\ background.jpg);
    background-color: black;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    color: white
}
/* .background {
    background-image: url(https://i.dlpng.com/static/png/6806583_preview.png);
    width: 100%;
    height: 100%
} */
.portfolioimg {
  height: 300px;
  width: 300px;
  margin-left: 225px;
  /* border-style: solid; */
    /* border-color: white; */
    /* border-width: 1px; */
 float: left;
padding-top: 10px;
}

.dayplanner{
    height: 300px;
    width: 300px;
    margin-left: 225px;
    /* border-style: solid; */
      /* border-color: white; */
      /* border-width: 1px; */
   float: left;
   margin-top: 50px
}

.paul {
    height: 300px;
    width: 300px;
    margin-left: 225px;
    float: left;
    margin-top: 50px;
}

.assistant {
    height: 300px;
    width: 300px;
    margin-left: 225px;
    float: left;
    margin-top: 50px;
}

.notetaker{
    height: 200px;
    width: 250px;
    margin-left: 225px;
    margin-top: 50px;
    border-style: solid;
    border-color: white;
    border-width: 1px
}

.developerprofile {
    height: 200px;
    width: 250px;
    margin-left: 300px;
    margin-top: 50px;
    border-style: solid;
    border-color: white;
    border-width: 1px
}

.contact{
    border-style: solid;
    border-color: white;
    border-width: 2px;
    text-align: center;
    width: 250px;
    margin-left: 550px;
    margin-top: 200px;
    line-height: 1.8;
    
}

.aboutme{
    border-style: solid;
    border-color: white;
    border-width: 2px;
    line-height: 1.8;
    width: 1000px;
    margin-left: 200px;
    margin-top: 50px;
}


.myname {
    text-align: center;
    font-size: 100px;
    color: white;

}

.fullstack {
    text-align: center;
    color: white;
}

.denver {
    text-align: center;
    color: white;
}

.linkedin{
    margin-left:600px;
    margin-top: 150px;
  
}

.fa-github {
    margin-left: 100px;
    margin-top: 150px;
}

.header1 {
    margin-left: 550px;
    margin-top: 5px;
}

.para1{
    margin-left: 550px
}

.header2 {
    margin-left: 550px;
   margin-top: 140px;
}

.para2 {
    color: white;
    margin-left: 225px;
    margin-top: 20px;
    width: 40%
}

.para3 {
    margin-left: 550px
}

.para4 {
    margin-left: 550px;
}

.header3{
    margin-left: 550px;
    margin-top: 200px
}

.techimg{
    width: 200px;
    height: 200px;
    
}

.techimgreact{
    width: 200px;
    height: 200px;
    left: 600px;
}

.me {
    float: left;
    padding-right: 25px;
    width: 300px;
    height: 300px
}

.tutor {
    text-align: center;
    color: white;
}

.ta {
    text-align: center
}

.trillogo {
    margin-left: 575px;
    width: 300px;
    height: 200px
}
.mongo {
    width: 200px;
    height: 200px;
}

.techimg1{
    width: 200px;
    height: 200px;
    margin-top:30px; 
    /* margin-right: 10px; */
   
    
}
.techimg2{
    width: 200px;
    height: 200px;
    margin-top: 25px;
}

.techimg6{
    width: 200px;
    height: 200px;
}

.techimg7{
    width: 240px;
    height: 200px;
}


.empty{
    width: 175px;
    height: 200px;
    /* background-color: black */
    background-image: url(./assets/black\ background.jpg);
}

#emailbtn{
    background-color: blue;
    color: white;
    padding: 5px;
    width: 120px;

}
#emailbtnhome{
    background-color: blue;
    color: white;
    padding: 5px;
    width: 120px;
    margin-left: 1260px;
    border-color: black
}

.home, .about, .technologies{
   display: flex;
   height: 90vh;
   align-items: center;
   justify-content: center;
   font-size: 3rem

}

#backnav{
    background-image: url(./assets/black\ background.jpg);
}

.footname{
    text-align: center;
    margin-left: 600px;
    margin-top: 125px;
}

.footicons{
    margin-top: -150px;
}
.matnav{
    padding-left: 15px;
    font-weight: bolder;
}

.abouthead{
    margin-left: 600px;
}

.portfoliohead{
    margin-left: 600px;
}
@media screen and (max-width: 768px){
    .aboutme{
        width: 200px
    }
    .contact{
        width: 40%;
        margin-right: 200px;
    }

   .techimg1{
       width: 200px;
       height: 200px;
       padding-bottom: 10px;
   }

   .techimg2{
       width: 200px;
       height: 200px;
   }

   .techimg3{
       height: 200px;
       width: 200px
   }

   .techimg4{
    height: 200px;
    width: 200px
}

.techimg5{
    height: 200px;
    width: 200px
}

.techimg6{
    height: 200px;
    width: 200px
}

.techimg7{
    height: 200px;
    width: 200px
}

.techimg8{
    height: 200px;
    width: 200px
}
.techimg{
    height: 200px;
    width: 200px;
    margin-left: -150px
}

.icons{
    margin-right: 1000px;
} 
}